@charset "UTF-8";
@font-face {
    font-family: 'Neue';
    src: url('../fontes/BebasNeue-Regular.ttf') format('truetype');
}

/*PALETA DE CORES*/

:root {
    --cor01: #052437;
    --cor02: #4427ed;
    --cor03: #D1860D;
    --cor04: #CBB26A;
    --cor05: rgb(203, 203, 206);
    --cor06: #a1caee;
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Neue', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url('../imagens/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: var(--fonte-destaque), sans-serif;
    margin: 0;
    width: 100vw;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}   


/*STYLE HEADER*/

.explorar {
    width: 100px;
    height: 32px;
    line-height: 31px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    animation-name: botao;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transition: 0, 5s;
}

.explorar:hover {
    background-color: var(--cor03);
    transition: 0, 5s;
    cursor: pointer;
}

@keyframes botao {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(30px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(0px);
    }
}

header {
    /*https://cdn.pixabay.com/photo/2015/09/02/12/40/swimming-pool-918593__340.jpg*/
    /*LINK DA CAPA*/
    min-height: 550px;
    background: url('../imagens/capa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 320px;
}

/*STYLE PARA RESERVA*/


/*STYLE PARA HEADER NAV*/

header nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
}

nav li a {
    text-decoration: none;
    color: #fff;
}

nav li a:hover {
    cursor: pointer;
    color: var(--cor03);
    transition-duration: .5s;
}

header nav p {
    font-weight: lighter;
    font-size: 2em;
    /* margin: 0;*/
    color: var(--cor03);
}

header nav ul {
    list-style: none;
    display: flex;
    margin-top: 15px;
}

header nav ul li {
    margin: 0 15px;
    color: #fff;
    font-size: 1em;
}

.header-content {
    max-width: 400px;
    margin: 200px auto;
    text-align: center;
    color: var(--cor03);
}

.header-content h1 {
    margin-bottom: -10px;
    font-size: 4em;
    color: var(--cor02);
}

.header-content p {
    font-family: var(--fonte-destaque);
    max-width: 600px;
    padding-right: 10px;
    padding-right: 10px;
    margin: auto;
    text-shadow: 5px 5px 30px var(--cor01);
}

/*STYLE PARA ACOMODAÇÕES*/

.quartos {
    background-color:rgb(203, 203, 206, 0.6);
    padding: 15px;
}

.quartos .quarto-cards {
    display: flex;
    /*Na mesma linha*/
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    /*Quebra a página*/
    justify-content: center;
}

.quartos .quarto-title {
    width: 100%;
    text-align: center;
    margin: 25px 0;
    color: var(--cor01);
}

.quartos .card {
    width: 250px;
    height: 400px;
    background-color: #fff;
    border-radius: 20px 0px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.309);
    margin: 25px;
    position: relative;
}

.quartos .card-image {
    width: 250px;
    height: 200px;
    border-radius: 20px 0 0 0;
    object-fit: cover;
}

.quartos .card-text {
    margin-top: 15px;
    padding: 0 15px;
}

.quartos .card-text ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.quartos .card-text ul li {
    font-size: .8em;
    display: flex;
    align-items: center;
    margin: 3px 0;
    color: var(--cor04);
    font-weight: lighter;
}

.quartos .card-text li svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.quartos .card-text h1 {
    font-size: 1em;
}

.quartos .card .card-text-top {
    position: absolute;
    top: 15px;
    right: 0;
    background-color: var(--cor03);
    border-radius: 5px 0 0 5px;
    padding: 5px 10px;
}

.quartos .card .card-text-bottom {
    position: absolute;
    top: 160px;
    left: 0;
    background-color: var(--cor02);
    border-radius: 0 5px 5px 0;
    padding: 5px 10px;
}

.quartos.card-esgotado {
    font-family: var(--fonte-padrao);
    font-size: .8em;
    position: absolute;
    top: 160px;
    left: 0;
    background-color: var(--cor01);
    color: var(--cor03);
    border-radius: 0 5px 5px 0;
    padding: 5px 10px;
}

.quartos .card .card-tag p {
    font-family: var(--fonte-padrao);
    margin: 0;
    font-size: .8em;
    color: #fff;
    font-weight: lighter;
}


/*STYLE PARA SERVIÇOS*/

.servicos {
    padding: 15px;
    background-color:hsl(45, 48%, 61%,0.4);

}

.servicos .servicos-title {
    text-align: center;
    margin: 35px 0;
    color: var(--cor01);
}
.servicos .servicos-cards{
    padding-top: 25px;
    display: flex;
    max-width: 950px;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.servicos .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicos .card svg {
    width: 60px;
    height: 60px;
    margin: 50px;
    transition-duration: 1s;
}

.servicos .card svg:hover{
    stroke: var(--cor02);
    transform: scale(1.1);
    cursor: pointer;
}

.servicos .card h3 {
   font-weight: bold;
   margin-bottom: 20px;
   color: var(--cor01);
}

.servicos .card p {
    color: var(--cor02);
    font-size: 1em;
    text-align: center;
 }

.servicos .card .card-content{
    height: 180px;
    text-align: center;
}

.servicos .saiba-mais-servico{
    background-color: var(--cor03);
    animation-name: none;

    width: 100px;
    height: 32px;
    line-height: 31px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #fff;
}

/*STYLE PARA CONTATO*/

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.contato {
    padding: 60px;
    background-color: var(--cor05);
    position: relative;
}

.contato .contato-card {
    width: 350px;
    height: 300px;
    background-color: #fff;
    color: var(--cor01);
    position: absolute;
    z-index: 99;

    border-radius: 10px;

    top: calc(50% - 150px);
    left: calc(20% - 175px);

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.contato .contato-card h1{
    padding-left: 50px;
    text-align: left;
}

.contato .contato-card li{
    font-size: 1.1em;
    font-weight: lighter;
    color: var(--cor04);

    display: flex;
    align-items: center;
}

.contato .contato-card li svg{
    width: 16px;
    margin: 10px;
   
}

/*RESPONSIVIDADE*/

/*Especial para mapa*/

@media (max-width: 950px) {
    .contato {
        padding: 60px 0;
    }

    .contato .contato-card{
        left: 40px;
    }
}


@media (max-width: 800px) {
    
   .contato {
        padding: 60px;
    }

    .contato .contato-card {
        position: static;
        margin: 40px auto;
    }
}

/*Landscape phone portrait tablet*/

@media (max-width: 767px) {
    nav li a {
        display: none;
    }
}

/*Landscape phones and down*/

@media (max-width: 480px) {
    body {
        margin-bottom: 55px;
    }
    header nav ul li a {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 99;
        /*Quanto maior o valor,a distância de baixo para cima do card ficará mais responsiva*/
        background-color: var(--cor02);
        color: #fff;
        font-weight: lighter;
        height: 55px;
        /*text-align: center;*/
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav p {
        width: 100%;
        text-align: center;
    }
}


/*Portrait tablet landscape and desktop*/


/*@media (max-width: 768px) and (max-width: 979px) {}*/


/*Lard desktop*/


/*@media (max-width: 1200px) {}*/

/*STYLE PARA LOGIN*/

.cor-fundo {
   
    background-color: rgb(68, 39, 237,0.4);
    border-radius: 0 0 10px 10px;
}



main.container{
    background-color: #fff;
    max-width: 350px;
    min-height: 40vh;
    padding: 2em;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.261);
    border-radius: 8px;
    margin: auto;
    margin-top: -350px;
    
}

main h2 {
    font-weight: lighter;
    margin-bottom: 2em;
    position: relative;
}

main h2::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background-color: var(--cor02);
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

form .input-field:first-child {
    margin-bottom: 1.5em;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right, #295977, #57abf5 );
    transform: scaleX(0);
    transition: all.3s ease-in-out;
    transform-origin: left;    
}

.input-field input:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-field input {
    outline: none;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.7);
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"] {
    margin-top: 2em;
    padding: 0.4em;
    background-image: linear-gradient(to left, #144f74, #0D74D1 );
    cursor: pointer;
    color: #fff;
    font-size: 0.9em;
    font-weight: lighter;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background-image: linear-gradient(to right, #295977, #57abf5 );
}

.footer{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.footer span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8em;
    text-align: center;
}

.footer .social-field {
    padding: 0.4em;
    border-radius: 4px;
    font-size: 0.85em;
    width: 100%;
    cursor: pointer;
    margin-top: 1em;
}

.footer .social-field a i {
    margin: 0 0.5em;
    width: 15px;
}

.footer .social-field a {
    text-decoration: none;
    color: #fff;
}

.footer .social-field.twitter {
    background-image: linear-gradient(to right, #527d97, #61abeb);
}

.footer .social-field.facebook {
    background-image: linear-gradient(to right, #04304b, #31597c);
}

.footer .social-field.instagram {
    background-image: linear-gradient(to right, #6C4BB9, #B2379E);
}

label {
    font-family: var(--fonte-padrao);
}

.nova-senha {
    font-family: var(--fonte-padrao);
}

.cadastro {
    margin-top: 2em;
    padding: 0.4em;
    background-image: linear-gradient(to left, #144f74, #0D74D1 );
    cursor: pointer;
    color: #fff;
    font-size: 0.9em;
    font-weight: lighter;
    border-radius: 4px;
    transition: all 0.3s ease;
    text-align: center;
    font-family: var(--fonte-padrao);
}

.cadastro:hover {
    letter-spacing: 0.5px;
    background-image: linear-gradient(to right, #295977, #57abf5 );
}

.login {
    background: none;
}

